div {
    background: red;
    width: clamp(200px, 50%, 800px);
    /* width: 50%;
    min-width: 200px;
    max-width: 800px; */
    height: 200px;
}

/* h1 {
    font-size: clamp(24px, 5vw, 48px);
}

iframe {
    width: 100vw; 
    height: 500px;
}
 */
/* @media only screen and (max-width: 600px) and (orientation: portrait) {
    div {
        background: green
    }
} */

/* video {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 16/9;
}

@media screen and (aspect-ratio: 1/1){
    div {
        background: blue
    }
} */