/* .content {
      display: none;
    }
.content:target {
      display: block;
     }

li:focus {
    outline: 1px solid red; 
}

li:focus-within {
    outline: 1px solid blue;
}    */


nav, ul, li {
    display: inline;
}

li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: rgb(26, 84, 219);
}

/* div {
    width: 200px;
    height: 200px;
    background-color: rgba(26, 84, 219, 0.5);
    font-size: 80px;

}

p {
    opacity: 1; 
    color: red;
}
 */